@import '../../styles/queries.scss';

.container {
    padding-top: 8vh;
    margin-bottom: 20vh;
}

.tituloPrincipal {
    font-family: 'Featherly', sans-serif;
    text-align: center;
    padding: 5vh 0;
    font-size: 10vh;
}

.textoPadrinhos {
    margin: 0 20vw 0 20vw;
    @include breakpoint (baby-bear) {
        margin: 3vh 5vh;
    }
}

.containerPadrinhos {
    width: 90%;
    margin: 10vw;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint (baby-bear) {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        margin-left: 15vw;
    }
}

.singlePadrinhos {
    position: relative;
    height: 35vh;
    width: 35vh;
    min-width: 35vh;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5vh;
    margin-bottom: 5vh;
    > span {
        position: absolute;
        color: white;
        text-align: center;
        font-size: 2em;
        opacity: 0;
        -webkit-text-stroke: 1px #fff;
        top: 45%;
        left: 1rem;
    }
    &:hover, &focus {
        span {
            opacity: 1;
        }
        .blurFoto {
            opacity: .5;
        }
    }
    @include breakpoint (baby-bear) {
        margin-left: 0;
        margin-bottom: 3vh;
    }
}

.blurFoto {
    height: 35vh;
    &:hover, &:focus {
        opacity: .5;
    }
}

.containerDhielleErika {
    @extend .singlePadrinhos;
}


.fotoDhielleErika {
    @extend .blurFoto;
    left: -8vh;
    transform: scale(1.5);
}

.containerCaitoFernanda {
    @extend .singlePadrinhos;
}

.fotoCaitoFernanda {
    @extend .blurFoto;
    
}

.containerBryanGiovana {
    @extend .singlePadrinhos;
}

.fotoBryanGiovana {
    @extend .blurFoto;
}

.containerAirtonMarlete {
    @extend .singlePadrinhos;
}

.fotoAirtonMarlete {
    @extend .blurFoto;
}

.containerGabrielRaissa {
    @extend .singlePadrinhos;
}

.fotoGabrielRaissa {
    @extend .blurFoto;
 }

.containerZeMarcia {
    @extend .singlePadrinhos;
    span {
        left: 1%;
    }
}

.fotoZeMarcia {
    @extend .blurFoto;
}

.containerSamirRafaela {
    @extend .singlePadrinhos;
}

.fotoSamirRafaela {
    @extend .blurFoto;
    transform: scale(1.2);
    left: 3vh;
}

.containerTeffoIvana {
    @extend .singlePadrinhos;
    justify-self: end;
}

.fotoTeffoIvana {
    @extend .blurFoto;
}

.containerMarlonPatricia {
    @extend .singlePadrinhos;
    margin-left: 13vw;
    @include breakpoint (baby-bear) {
        margin-left: 0;
    }
}

.fotoMarlonPatricia {
    @extend .blurFoto;
    transform: scale(1.8);
    top: 12vh;
}

.containerPedro {
    @extend .singlePadrinhos;
    span {
        left: 5rem;
    }
}
.fotoPedro {
    @extend .blurFoto;
}

.containerSonia {
    @extend .singlePadrinhos;
    span {
        left: 5rem;
    }
}
.fotoSonia {
    @extend .blurFoto;
    transform: scale(1.5);
}
