@import '../../styles/queries.scss';

.container {
    padding-top: 15vh;
    margin-bottom: 20vh;
}

.tituloPrincipal {
    font-family: 'Featherly', sans-serif;
    text-align: center;
    padding: 5vh 0;
    font-size: 10vh;
}

.textoPadrinhos {
    margin: 0 20vw 0 20vw;
    @include breakpoint (baby-bear) {
        margin: 3vh 5vh;
    }
}

.containerPadrinhos {
    width: 90%;
    margin: 5vw;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint (baby-bear) {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        margin-left: 15vw;
    }
}

.singlePadrinhos {
    position: relative;
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5vh;
    margin-bottom: 5vh;
    > span {
        position: absolute;
        color: white;
        text-align: center;
        font-size: 2em;
        opacity: 0;
        -webkit-text-stroke: 1px #fff;
        top: 45%;
        left: 1rem;
    }
    &:hover, &focus {
        span {
            opacity: 1;
        }
    }
    @include breakpoint (baby-bear) {
        margin-left: 0;
        margin-bottom: 3vh;
    }
}

.blurFoto {
    &:hover, &:focus {
        opacity: .5;
    }
}

.containerDhielleErika {
    @extend .singlePadrinhos;
}


.fotoDhielleErika {
    @extend .blurFoto;
    left: -50%;
    @include breakpoint (mama-bear) {
        transform: scale(1.2);
        left: -7rem;
        top: .5rem;
    }
}

.containerCaitoFernanda {
    @extend .singlePadrinhos;
    justify-self: center;
}

.fotoCaitoFernanda {
    @extend .blurFoto;
    transform: scale(1.8);
    @include breakpoint (baby-bear) {
        transform: scale(1.5);
        top: 10vw;
        left: 0vw;
    }
}

.containerBryanGiovana {
    @extend .singlePadrinhos;
}

.fotoBryanGiovana {
    @extend .blurFoto;
    left: -25%;
}

.containerAirtonMarlete {
    @extend .singlePadrinhos;
}

.fotoAirtonMarlete {
    @extend .blurFoto;
    left: -6vw;
    top: -8vw;
    transform: scale(.7);
    @include breakpoint (baby-bear) {
        transform: scale(.9);
        left: -30vw;
        top: -10vh;
    }
    
}

.containerGabrielRaissa {
    @extend .singlePadrinhos;
}

.fotoGabrielRaissa {
    @extend .blurFoto;
    left: -80px;
    top: -20px;
    @include breakpoint (mama-bear) {
        left: -3.5rem;
    }
 }

.containerZeMarcia {
    @extend .singlePadrinhos;
    span {
        left: 1%;
    }
}

.fotoZeMarcia {
    @extend .blurFoto;
    transform: scale(1.2);
    left: -75px;
    top: 20px;
    @include breakpoint (mama-bear) {
        transform: scale(1.4);
        top: 1rem;
        left: -2.5rem;
    }
}

.containerSamirRafaela {
    @extend .singlePadrinhos;
    justify-self: end;
}

.fotoSamirRafaela {
    @extend .blurFoto;
    left: -50px;
    top: -50px;
    @include breakpoint (mama-bear) {
        top: -1rem;
    }
}

.containerTeffoIvana {
    @extend .singlePadrinhos;
    justify-self: end;
}

.fotoTeffoIvana {
    @extend .blurFoto;
    transform: scale(1.5);
    left: -50px;
}

.containerMarlonPatricia {
    @extend .singlePadrinhos;
    margin-left: 13vw;
    @include breakpoint (baby-bear) {
        margin-left: 0;
    }
}

.fotoMarlonPatricia {
    @extend .blurFoto;
    left: -10px;
    top: -10px;
    @include breakpoint (mama-bear) {
        transform: scale(1.1);
        top: .5rem;
    }
}

.containerPedro {
    @extend .singlePadrinhos;
    span {
        left: 5rem;
    }
}
.fotoPedro {
    @extend .blurFoto;
    transform: scale(.7);
    left: -70px;
    top: -100px;
    @include breakpoint (mama-bear) {
        transform: scale(.8);
        left: -3.9rem;
    }
}

.containerSonia {
    @extend .singlePadrinhos;
    span {
        left: 5rem;
    }
}
.fotoSonia {
    @extend .blurFoto;
    top: -120px;
    left: -90px;
}
