@import '../../styles/queries.scss';

.allContato {
    display: flex;
    flex-flow: column;
    text-align: center;
    @include breakpoint (baby-bear) {
        margin: 3vh;
        text-align: left;
    }
}

.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    font-size: 10vh;
    margin-bottom: 5vh;
    text-align: center;
    @include breakpoint (mama-bear) {
        font-size: 9vh;
    }
}

.sub {
    margin-bottom: 5vh;
}

.formAll {
    padding-left: 30vw;
    @include breakpoint (baby-bear) {
        padding: 0;
    }
}

.formSection {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5vh;
    input, textarea {
        width: 100%;
        border: 1px black solid;
        &:focus {
            border: 2px solid maroon;
        }
    }
    @include breakpoint (baby-bear) {
        flex-flow: column;
        padding: 2vh 2vh;
        input, textarea {
            width: 100%;
        }
    }
}

.containerRadio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
    span{
        justify-self: start;
    }
    > div {
        width: 50%;
        display: flex;
        justify-self: end;
        > div {
            display: flex;
            width: 25%;
            justify-content: flex-end;
            margin-left: 6vw;
        }
    }
    > div {
        > div {
            input {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    @include breakpoint (baby-bear) {
        justify-content: space-around;
        width: 82vw;
        margin-left: 2vw;
    }
}

.quantos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 2;
    @include breakpoint (baby-bear) {
        justify-content: space-around;
        line-height: 1.5;
        label {
            width: 90vw;
        }
    }
}

.dropDown {
    appearance: none;
    border-radius: 0;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: auto;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, white 0%,white 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
    &:hover {
        border-color: #888;
        cursor: pointer;
    }
    &:focus {
        border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
        box-shadow: 0 0 1px 1px black;
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222; 
        outline: none;
    }
    > option {
        display: none;
        font-weight: normal;
        background-color: white;
    }
    @include breakpoint (baby-bear) {
        width: 30%;
    }
}

.containerTel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
    input {
        width: auto;
    }
    @include breakpoint (baby-bear) {
        width: 75vw;
        label {
            margin-left: 4vw;
        }
    }
}

.buttonForm {
    display: flex;
    justify-content: center;
}

.contatoBotao {
    border: 1px solid black;
    background: white;
    color: black;
    margin: 1vh 4vh;
    padding: 2vh 8vh;
    font-size: 1.5em;
    &:focus, &:hover {
        background-color: maroon;
        color: white;
        border: maroon;
        cursor: pointer;
    }
    @include breakpoint (baby-bear) {
        margin: 2vh;
        // padding: 2vh 6vh;
        font-size: 1.2em;
        padding: 1vh 5vh;
    }
}
