@import '../../styles/queries.scss';

.all {
    text-align: left;
    width: 100%;
}

.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    padding: 5vh 0;
    font-size: 10vh;
    text-align: center;
}

.hueparana {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20vw 0 20vw;
    > p {
        text-align: left;
    }
}

.containerFotoMapa {
    text-align: center;
}

.fotoChacara {
    width: 100%;
    margin-bottom: 6vh;
    > p {
        text-align: left;
    }
}

.mapaGoogle {
    width: 100%;
    iframe {
        width: 90%;
        height: 60vh; 
    }
}