@import '../../styles/queries.scss';

.headerLogo {
    height: 120vh;
    width: 99vw;
    background: url("../../images/IMG_6455.png");
    background-size: 100vw 150vh;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
    background-position: 0 -30vh;
    @include breakpoint (baby-bear) {
        height: none;
        background-size: 100vw 45vh;
        background-position: 0vw 10vh;
        height: 60vh;
    }
}

.title {
    font-family: 'featherly', sans-serif;
    font-size: 10vh;
    padding-top: 2.5vh;
    font-weight: bold;
    color: black;
    text-align: center;
    @include breakpoint (baby-bear) {
        font-size: 7vh;
    }
}

.menuTopo {
    background-color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    position: fixed;
    z-index: 2;
    @include breakpoint (baby-bear) {
        flex-wrap: wrap;
        min-height: 20vh;
        > nav {
            width: 95%;
            margin-bottom: 2vh;
            margin-left: 4.2vw;
        }
    }
}

.linkTopo {
    color: black;
    text-decoration: none;
    padding-left: 2vw;
    padding-right: 2vh;
    padding-top: 2.5vh;
    font-size: 3vh;
    &:hover {
        color: #581d22;
    }
    @include breakpoint (baby-bear) {
        font-size: 3vw;
    }
}