@import '../../styles/queries.scss';

.introAll {
    display: flex;
    flex-flow: column;
    text-align: center;
    min-height: 100vh;
    // margin-top: 5vh;
    // margin-bottom: 50vh;
    @include breakpoint (baby-bear) {
        width: 95%;
    }
}
.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    margin-bottom: 5vh;
    font-size: 10vh;
    @include breakpoint (baby-bear) {
        font-size: 4vh;
    }
}

.introText {
    margin: 7vh 20vw;
    p{
        text-align: left;
    }
    @include breakpoint (baby-bear) {
        margin: 3vh 5vh;
    }
}

.contador {
    margin-top: 10vh;
}