@import '../../styles/queries.scss';

.introAll {
    display: flex;
    flex-flow: column;
    text-align: center;
    min-height: 100vh;
    @include breakpoint (baby-bear) {
        // width: 95%;
    }
}
.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    margin-bottom: 5vh;
    font-size: 10vh;
    @include breakpoint (baby-bear) {
        font-size: 4vh;
    }
}

.introText {
    margin: 15vh 15vw 0 15vw;
    p{
        margin: 0 5vw;
        text-align: left;
    }
    @include breakpoint (baby-bear) {
        margin: 0;
        margin-top: 10vh;
    }
}

.contador {
    margin-top: 10vh;
}