@import '../../styles/queries.scss';


.allNoivos {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    padding: 10vw;
    > p {
        text-align: left;
    }
}

.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    font-size: 10vh;
    margin-bottom: 5vh;
}

.containerNoivos {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    margin-left: 3vw;
    justify-content: center;
    @include breakpoint (baby-bear) {
        flex-flow: column;
        margin-left: 5vw;
    }
}

.noivo {
    align-self: center;
    border: 1px maroon solid;
    position: relative;
    height: 60vh;
    width: 60vh;
    min-width: 50vh;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5vh;
    margin-bottom: 5vh;
    @include breakpoint (baby-bear) {
        height: 42vh;
        width: 42vh;
        min-width: 40vh;
        margin-left: 0;
    }
}

.noiva {
    @extend .noivo;
}

.noivaFoto {
    height: 35vw;
    @include breakpoint (baby-bear) {
        height: 55vh;
    }
}

.noivoFoto {
    @extend .noivaFoto;
}