@import '../../styles/queries.scss';


.allNoivos {
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    padding: 10vw;
    > p {
        text-align: left;
    }
}

.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    font-size: 10vh;
    margin-bottom: 5vh;
}

.containerNoivos {
    display: flex;
    margin-bottom: 10vh;
    padding-left: 18vw;
    @include breakpoint (baby-bear) {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        padding-left: 10vw;
    }
}

.noiva {
    width: 60vh;
    height: 60vh;
    max-height: 80vw;
    max-width: 80vw;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px maroon solid;
}

.noivo {
    @extend .noiva;
}

.noivaFoto {
    transform: scale(2.3);
    position: relative;
    left: 12vw;
    top: 9vh;
    @include breakpoint (baby-bear) {
        transform: scale(2);
        left: 35vw;
    }
}

.noivoFoto {
    transform: scale(2.2);
    position: relative;
    left: -13vw;
    top: 11vh;
    @include breakpoint (baby-bear) {
        transform: scale(1.7);
        left: -47vw;
    }
}