@import '../../styles/queries.scss';


.allNoivos {
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 7vh 20vw;
    margin-bottom: 20vh;
    > p {
        text-align: left;
    }
    @include breakpoint (baby-bear) {
        margin: 3vh;
    }
}

.tituloPrincipal {
    font-family: 'featherly', sans-serif;
    font-size: 10vh;
}

.containerNoivos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10vh;
    margin-left: 5vw;
    width: 85vw;
    @include breakpoint (baby-bear) {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        margin-left: 3vw;
    }
}

.noiva {
    width: 50vh;
    height: 50vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px maroon solid;
}

.noivo {
    @extend .noiva;
}

.noivaFoto {
    transform: scale(2);
    position: relative;
    left: 10vw;
    top: 9vh;
    @include breakpoint (baby-bear) {
        left: 35vw;
    }
}

.noivoFoto {
    transform: scale(1.8);
    position: relative;
    left: -13vw;
    top: 11vh;
    @include breakpoint (baby-bear) {
        left: -47vw;
    }
}